body {
  margin-top: 100px;
  background-color: white;
}
form .mb-3 {
  max-width: fit-content;
}
form button {
  position: relative;
  bottom: 54px;
  left: 210px;
}

.btn-search {
  background-color: transparent;
  border-color: #0b1f92;
  transition: all 200ms ease-in-out;
}

:hover.btn-search {
  border-color: #caeb10;
}
.btn-gps {
  background-color: transparent;
  border-color: #0b1f92;
  transition: all 200ms ease-in-out;
}

:hover.gps {
  border-color: #caeb10;
}
h1 {
  font-size: 35px;
  line-height: 30px;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  font-size: 20px;
  line-height: 20px;
}
h3 {
  font-size: 15px;
  line-height: 15px;
}

.container {
  background-image: linear-gradient(to top, #385fca 30%, #d9ded8 100%);
  max-width: 600px;
  padding: 40px;
  border-radius: 5%;
}

.current-weather {
  text-align: center;
}
.current-weather i {
  font-size: 60px;
}
.current-weather .temperature {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  left: 50px;
}
.current-weather .units {
  color: black;
  font-size: 15px;
  font-family: "Monaco", monospace;
  position: relative;
  top: -24px;
}
.units a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
  text-align: center;
  padding: 10px 0;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  max-width: 400px;
  margin: 0 auto;
}
li:hover {
  background-color: rgb(212, 232, 241);
}

.forecast-temp,
.forecast-day {
  line-height: 20px;
  font-size: 16px;
}
.forecast-temp,
.forecast-day,
.date,
.humidity-precip {
  color: #000000;
}

.forecast-icon {
  font-size: 30px;
  bottom: 10px;
  color: rgb(212, 232, 241);
}
.col-2 {
  position: relative;
  text-align: center;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  bottom: 30px;
}
.learn-more {
  font-size: 15px;
  position: relative;
  text-align: center;
  bottom: -20px;
}
.learnmore-icon {
  color: black;
}
footer {
  text-align: center;
  font-size: 15px;
}
.small {
  font-size: 80%;
  font-weight: 400px;
}
